<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMemberMapper">

	<select id = "getRestrictedMemberList" resultType = "AdminRestrictedMemberDTO">
		select * from ADMINRESTRICTEDMEMBER
	</select>
 
     <select id="SearchMember" resultType="AdminMemberDTO" parameterType="string">
         select * from memberDB where userid like #{SearchValue}
    </select>
	
	<!-- 신고처리된 대상자 강퇴 처리시 삭제된 회원 데이터에 저장 -->
	<insert id="saveInDeletedlist" parameterType = "MemberDTO">
		insert into admindeletedmember values (
		#{userId}, #{userPw}, #{nickname}, #{secretCode},
		#{googleConnected}, #{naverConnected}, #{kakaoConnected},
		#{userSignDate}, #{role}, 'false', '강퇴', SYSDATE+30
		)
	</insert>
	
	<!-- 삭제된 회원 테이블에 저장 후 기존 회원 테이블에서 삭제 -->
	<delete id = "deleteFromMemberDB">
		delete from memberdb where userid = #{userId}
	</delete>
	
	<!-- 이용제한 해제 -->
	<update id = "releaseUser">
		update memberdb set enabled = 'True' where userid = #{userid}
	</update>
	
	<select id = "getDeletedMemberList" resultType = "AdminDeletedMemberDTO">
		select * from admindeletedmember
	</select>
	
	<update id = "suspendUser">
		update memberdb set enabled = 'False' where userid= #{userid}
	</update>
	
	<insert id = "insertSuspendedUserInRestrictedUser">
		insert into adminrestrictedmember values(restrictedmemberSEQ.nextval, #{userid}, '정지됨', '규정위반', '정지', sysdate, sysdate+180)
	</insert>
	
	<insert id = "insertKickedUserInRestrictedDB">
		insert into adminrestrictedmember values(restrictedmemberSEQ.nextval, #{userid}, '삭제대기중', '규정위반', '강퇴', sysdate, sysdate+30)
	</insert>
	
	<select id = "getDeleteList"> 
		select userid 
		from adminrestrictedMember
		where cause in ('탈퇴', '강퇴') and actionend = sysdate
	</select>
	
	<delete id = "cleanDeletedMember">
		delete from memberdb where userid = #{userid} 
	</delete>
	
	<delete id = "cleanRestrictedMember">
		delete from adminrestrictedmember where actionend=sysdate
	</delete>
	
	<delete id = "deleteFromRestrictedMember">
		delete from adminrestrictedmember where userid = #{userid}
	</delete>
	
</mapper>