<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminReportMapper">
 
 
     <select id="SearchPost" resultType="AdminReportDTO" parameterType="HashMap">
	select * from adminreported
	<choose>

	<when test = "criteria == 'TARGETID'" >
		where targetid like '%'||#{SearchValue}||'%'
	</when>
	
	<when test = "criteria == 'REPORTER'" >
		where REPORTER like '%'||#{SearchValue}||'%'
	</when>
	
	<when test = "criteria == 'USERID'" >
		where USERID like '%'||#{SearchValue}||'%'
	</when>
</choose>

order by REPORTID asc
    </select>
    
<select id = "ReportedMemberList" resultType = "AdminReportDTO" parameterType = "HashMap">
    	SELECT 
		    userid,
		    SUM(CASE WHEN lang = 't' THEN 1 ELSE 0 END) AS lang,
		    SUM(CASE WHEN sexual = 't' THEN 1 ELSE 0 END) AS sexual,
		    SUM(CASE WHEN abusing = 't' THEN 1 ELSE 0 END) AS abusing,
		    SUM(CASE WHEN ruleviolation = 't' THEN 1 ELSE 0 END) AS ruleviolation,
		    SUM(CASE WHEN etc = 't' THEN 1 ELSE 0 END) AS etc
		FROM 
		    adminreported
	<choose>
	<when test = "criteria == 'userid'" >
		where userid like '%'||#{SearchValue}||'%'
	</when>
	</choose>
	group by userid
</select>

	
<delete id = "delReportedPost" parameterType = "list">
 delete 
 from postdb
 where postid in
 <foreach item = "item" index = "index" collection = "list" open = "(" separator = "," close = ")" >
 #{item}
 </foreach>

</delete>

	<!-- 신고번호에 해당하는 PostDTO 리스트 반환 -->
	<select id = "getPostList" parameterType = "list" resultType="PostDTO">
		select *from POSTDB 
		where postid in 
		<foreach item = "item" index = "index" collection = "list" open = "(" separator = "," close = ")" >
			'${item}'
		</foreach>
	</select>

<!-- 신고글 리스트 반환 -->
<select id = "getReportList" parameterType = "list" resultType = "AdminReportDTO">
	select
	from adminreported
	where targetid in 
	<foreach item = "item" index = "index" collection = "list" open = "(" separator = "," close = ")" >
 	#{item}
 	</foreach>
</select>

<!-- 신고 처리 후 신고처리됨 처리 -->
<update id="reportDone" parameterType = "list">
	update adminreported set action = 'yes' 
	where targetid in 
	<foreach item = "item" index = "index" collection = "list" open = "(" separator = "," close = ")" >
 	#{item}
 	</foreach>
</update>

<select id = "getUndone" resultType = "AdminReportDTO">
	SELECT 
	    SUM(CASE WHEN lang = 't' THEN 1 ELSE 0 END) AS lang,
	    SUM(CASE WHEN sexual = 't' THEN 1 ELSE 0 END) AS sexual,
	    SUM(CASE WHEN abusing = 't' THEN 1 ELSE 0 END) AS abusing,
	    SUM(CASE WHEN ruleviolation = 't' THEN 1 ELSE 0 END) AS ruleviolation,
	    SUM(CASE WHEN etc = 't' THEN 1 ELSE 0 END) AS etc
	FROM 
	    adminreported
    where action = 'no'
</select>
	
	
</mapper>