<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moonBam.dto.AnnouncementDTO">
	
	<!-- 추가 -->
	<insert id="insertAnnouncement" parameterType="AnnouncementDTO">
		insert into Announcement (annoNum, annoTitle, annoText, annoWriter, popup, writeDate, updateDate, startDate, endDate, category )
		VALUES (annoNum_seq.NEXTVAL, #{annoTitle}, #{annoText}, #{annoWriter}, #{popup}, sysdate, sysdate, to_date(#{startDate}, 'yyyy/mm/dd hh24:mi:ss'), to_date(#{endDate}, 'yyyy/mm/dd hh24:mi:ss'), #{category})
	</insert>
	
	<!-- 조회 list -->
	<select id="listAnnouncement" resultType="AnnouncementDTO" parameterType="map">
		SELECT * FROM ( SELECT a.*, ROWNUM AS rnum FROM ( SELECT * FROM Announcement where annotitle like '%'||#{word}||'%' or annotext like '%'||#{word}||'%' ORDER BY startDate DESC ) a 
		WHERE ROWNUM <![CDATA[<]]>= ${end} ) WHERE rnum >= ${start}
	</select>

 	<!-- 조회 one -->
	<select id="oneAnnouncement" resultType="AnnouncementDTO" parameterType="String">
		select annoNum, annoTitle, annoText, annoWriter, popup, category, writeDate, updateDate, startDate,
		endDate from Announcement where annoNum = #{annoNum}
	</select>
	
	<!-- 수정 -->
	<update id="updateAnnouncement" parameterType="AnnouncementDTO">
		update Announcement set annoTitle = #{annoTitle}, annoText =  #{annoText}, popup = #{popup},category= #{category} ,updateDate = sysdate, startDate = to_date(#{startDate}, 'yyyy/mm/dd hh24:mi:ss'), endDate = to_date(#{endDate}, 'yyyy/mm/dd hh24:mi:ss') where annoNum = #{annoNum}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteAnnouncement" parameterType="String">
		delete from Announcement where annoNum = #{annoNum}
	</delete>
	
	<!-- 팝업 번호 리스트 -->
	<select id="popupNumList" parameterType="map" resultType="int">
	select annoNum from Announcement where (startDate <![CDATA[<]]> sysdate and endDate <![CDATA[>]]> sysdate)  and popup = #{popup} and category = #{category} order by annoNum desc
	
	</select>
	
	<!-- 팝업 리스트 -->
	<select id="popupList" parameterType="map" resultType="AnnouncementDTO">
	select annoNum, annoTitle, annoText, annoWriter, popup,  writeDate, updateDate, startDate,
		endDate from Announcement where (startDate <![CDATA[<]]> sysdate and endDate <![CDATA[>]]> sysdate)  and popup = #{popup} order by annoNum desc
	</select>
 
	<!-- count column  -->
	<select id="lastPage" resultType="int" parameterType="String">
		SELECT CEIL(COUNT(*) / 10) FROM Announcement where annotitle like '%'||#{word}||'%' or annotext like '%'||#{word}||'%'
	</select>
	
</mapper>