<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatMapper">
 
     <insert id="saveChatRoom" parameterType="ChatRoomDTO">
         insert into ChatRoom values (
         	chatNum=#{chatNum}, roomTitle=#{roomTitle}, roomText=#{roomText},
         	currentNow=#{currentNow}, amount=#{amount}, loc=#{loc},
         	cDate=null, mDate=null, category=#{category}, leaderId=#{leaderId}
         )
    </insert>
	
</mapper>