<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatMessagesMapper">

<!-- 메세지 mapper -->

    <insert id="create" parameterType="ChatTableDTO">
       INSERT INTO chattable (id, chatNum, chatContent)
        VALUES (chat_message_id_seq.nextval, #{chatNum}, #{chatContent})
    </insert>

    <select id="chatMessagesByChatNum" resultType="ChatTableDTO">
        select * from chattable
    </select>
    
  <select id="select" resultType="ChatTableDTO">
        select * from chattable where id= '1'
    </select>
    
    <select id="pastMessage" resultType="String">
        select chatContent from chattable where chatNum= #{chatNum} order by id asc
    </select>
    
    <!-- 금칙어 목록 가져오는 쿼리 -->
    <select id="badWordsSelectAll" resultType="String">
    	select * from badwordsDB
    </select>
</mapper>
