<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChatMapper">
 
     <insert id="saveChatRoom" parameterType="ChatRoomDTO">
         insert into ChatRoom values (
         	#{chatNum}, #{roomTitle}, #{roomText},
         	#{currentNow}, #{amount}, #{post}, #{addr1}, #{addr2},
         	#{cDate}, #{mDate}, #{category}, #{leaderId})
    </insert>

	
	<!-- 채팅방 삭제 -->
	<delete id = "deleteChatRoom" >
		delete from ChatRoom where chatNum = #{chatNum}
	</delete>
	
	<!-- 방장 권한 위임 -->
	<update id = "delegateMaster">
		update chatRoom set leaderid = #{newMaster} where chatNum = #{chatNum}
	</update>
	
	<!-- 방장 일치 여부 확인용 select -->
	<select id = "CheckMaster" parameterType="String">
		select leaderid from chatRoom where chatNum=#{chatNum}
	</select>
	<!-- 채팅방 강퇴 -->
	<delete id = "ChatKickUser" parameterType="String">
		delete from chatMember where userid=#{user}
	</delete>

</mapper>