<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ContentMapper">

    <!-- 추후 탑10만 셀렉되도록 수정해야 함 -->
    <select id="selectTop" resultType="ContentDTO">
    	select * from contentdb where rownum between 1 and 12 order by popularity desc
    </select>
</mapper>