<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPageMapper">


<!-- 회원탈퇴 -->
	<update id="enabled" parameterType="hashmap">
		 update memberDB
     set 
     enabled  = #{enabled}
    where userId = #{userId}
	</update>
	
	<insert id="insertAdminRestrictedMember" parameterType="AdminRestrictedMemberDTO">
        INSERT INTO adminRestrictedMember (actno, userid, status, cause, action, actionstart, actionend)
        VALUES (restrictedmemberSEQ.nextval, #{userid}, 'myself', 'withdraw', '', sysdate, SYSDATE+30)
    </insert>
  
<update id="updateNickname" parameterType="string">
     update memberDB
     set 
     nickname = #{nickname}
    where userId = #{userId}
   </update>


<!-- 내가 작성한 게시물 조회 -->


<select id="selectMyPostPaged" resultType="PostDTO" parameterType="String">
       select postid, postBoard, userid, contid, postTitle, postDate, postEditDate, postText, nickname, categoryId
       from POSTDB
       where userId = #{userId}
    ORDER BY
        postDate DESC
</select>



<!-- 내가 작성한 게시물 총 개수 조회 -->
<select id="countMyPosts" resultType="int" parameterType="String">
    SELECT COUNT(*) FROM postDB
    WHERE userId = #{userId}
</select>

<!-- 내가 스크랩한 게시글 총 개수 조회 -->
<select id="countMyScraps" resultType="int" parameterType="String">
    SELECT COUNT(*) FROM scrap
    WHERE userId = #{userId}
</select>

        <!-- 내가 작성한 댓글 조회 -->
<select id="selectMyComm" parameterType="string" resultType="CommentDTO">
    SELECT c.comId, c.postId, c.userId, c.comDate, c.comText, c.nickname, c.aboveCom, c.aboveComId, p.postTitle, p.postBoard
    FROM commentDB c
    INNER JOIN postdb p ON c.postId = p.postId
    WHERE c.userId = #{userId}
    ORDER BY c.comDate DESC
</select>




    <!-- 내가 작성한 댓글 총 개수 조회 -->
<select id="countMyComments" resultType="int" parameterType="String">
    SELECT COUNT(*) FROM commentDB
     where userId = #{userId}
</select>

      <!-- 내댓글 삭제 -->
    <delete id="deleteMyComment" parameterType="String">
    delete
    from commentDB
    where comId = #{comId}
   </delete>
   
   <update id="updateComment" parameterType="hashmap">
update commentDB 
set comtext = #{comText}
where comid = #{comId}
</update>

   <!-- 내리뷰 삭제 -->
   
   <select id="getCommentCountByPostId" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM commentDB
        WHERE postId = #{postId}
    </select>
    
<select id="checkCommentsExist" parameterType="long" resultType="int">
    SELECT COUNT(*)
FROM commentDB
WHERE postId = #{postId}
</select>
    
<update id="updateMyPost" parameterType="hashmap">
    UPDATE postDB
    SET postTitle = #{postText},
        postText = #{postText}
    WHERE postId = #{postId}
</update>

     
 <delete id="postDel" parameterType="Long">
  delete
  from postDB
  where postId = #{postId}
 </delete>
</mapper>