<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatMessagesMapper">

    <insert id="create" parameterType="ChatMessageCreateRequestDTO">
        INSERT INTO CHATMESSAGES (MESSAGETYPE, SENDTIME, CHATROOMID, SENDERID, MESSAGE, REPORTED)
        VALUES (#{messageType,jdbcType=VARCHAR}, #{sendTime}, #{chatRoomId}, #{senderId}, #{message}, #{reported})
    </insert>

    <update id="report" parameterType="ChatMessageReportRequestDTO">
        UPDATE CHATMESSAGES
        SET REPORTED = #{reported}
        WHERE ID = #{id}
    </update>

    <select id="chatMessagesByRoomId" resultType="ChatMessageResponseDTO">
        SELECT * FROM CHATMESSAGES WHERE CHATROOMID = #{chatRoomId}
    </select>

</mapper>