@charset "UTF-8";

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

form {
    width: 100%;
}

div {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

label {
    display: block;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff416c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff2858;
}

button:active {
    transform: scale(0.95);
}

#allCheckbox {
    font-weight: bold;
}

