@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

#successMesg {
	background-color: #4CAF50;
	color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;
}

#errorMessage {
	background-color: #ff6347;
	color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;
}

#sitesShortCut {
	text-align: center;
}

#sitesShortCut a {
	text-decoration: none;
	background-color: #007BFF;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
}