@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	margin: 20px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 10px;
}

.ssnContainer {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            margin-bottom: 10px;
        }

.ssn {
	width: 45%;
	padding: 10px;
	margin-bottom: 10px;
}

#userName {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

button {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
